@model DataModels.Request.CreateProductRequest

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-2"})
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.AilmentsCollection, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-6">
                    <select id="AilmentsCollection" class="selectpicker" multiple style="width: 100%"
                            data-bind="selectedOptions: selectedAilmentsId,
                            options: ailments,
                            optionsText:'Name',
                            optionsValue:'Id' ">
                    </select>
                    @Html.ValidationMessageFor(model => model.AilmentsCollection, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="">
                
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/createProduct")
}
